mat-grid-tile {
  background: rgb(13, 91, 165);
}
mat-grid-tile-header {
  background: rgb(12, 68, 4);
}
mat-grid-tile-footer {
  background: rgb(221, 208, 21);
}
/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
  
}
/* Font color */
input.mat-input-element {
  color: black;
}
.mat-form-field {
  width: 100px
}
.mat-raised-button {
  height: 50 px
}
